@import '../../globalscss/global.scss';
.home {
  min-height: 100vh;
  .home_section1 {
    // height: 100vh;
    border: 2px solid white;
    overflow: hidden;
    // @include flex(row, null, center, 0px);
    .img_container {
      padding: 0px 30px;
      img {
        height: 500px;
        object-fit: cover;
        width: 100%;
        filter: grayscale(100%);
      }
    }
  }
}
