@import '../../globalscss/global.scss';
.header {
  color: white;
  height: 90px;
  @include flex(row, space-between, null, 0px);
  width: 100%;
  .logo {
    padding: 5px 10px;
    @include flex(column, null, center, 0px);
    img {
      height: 80px;
    }
    h3 {
      color: white;
    }
  }

  nav {
    padding: 0px 20px;
    height: 100% !important;
    flex-basis: 40%;
    border-bottom-left-radius: 20px;
    background-color: rgb(28, 28, 34);
    @include flex(row, space-around, center, 0px);
    .nav_items {
      text-decoration: none;
      color: inherit;
      font-size: 1.3rem;
    }
    .active {
      color: yellowgreen !important;
    }
  }
}
